################### requiremnets.txt ##################
streamlit
flask
flask-cors
numpy
pandas
matplotlib
seaborn
transformers
sentence-transformers
torch
langchain
langchain_community
huggingface_hub
beautifulsoup4
requests
fake-useragent
translate
deep_translator
faiss-cpu
gtts
python-dotenv
python-jose

